body {
  background-image: url(https://i.pinimg.com/564x/f5/8e/89/f58e8928baf7deb328fc669d1cea3190.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Mulish", sans-serif;
}

.conten {
  min-width: 42rem;
  width: 50%;
  margin: calc(100vh - 75vh) auto 5rem auto;
  background-color: white;
}

.conten > p {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: gray;
  padding: 3.5rem 0;
  font-weight: 500;
}

.conten > h1 > span:first-child {
  font-size: 2.7rem;
  font-weight: bold;
  color: #11006f;
  letter-spacing: 0.1rem;
}

.conten > h1 > span:last-child {
  font-size: 2.7rem;
  font-weight: bold;
  color: #fcaf17;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
}

.conten > h1 {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.form__account {
  width: 70%;
  margin: 0 auto;
}

.form__account,
.layout,
.face__gg {
  width: 70%;
}

.form__account > input {
  display: block;
  width: 100%;
  padding: 1.3rem;

  border-radius: 3px;
  border: 1px solid grey;
}

button {
  width: 100%;
  padding: 1.3rem;
  background-color: #fcaf17;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.9rem;
  color: white;
  font-weight: bold;
}

hr:first-child {
  position: absolute;
  width: 30%;
  right: 0;
}

hr:last-child {
  position: absolute;
  width: 30%;
  left: 0;
}

.layout {
  margin: 3rem auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  position: relative;
  font-size: 1.5rem;
}

.face__gg {
  display: flex;
  width: 70%;
  margin: 3rem auto;
  justify-content: center;
  gap: 1rem;
}

.google,
.face {
  width: 12rem;
  height: 4.9rem;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
}

.location {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 7rem;
}

.location > h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: grey;
}

.location a {
  text-decoration: none;
  color: #fcaf17;
  font-weight: bold;
}

.banner,
.nav__class,
.banner__sale {
  display: none;
}

.error {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem auto;
  height: 5rem;
  border: 1px solid red;
  align-items: center;
  color: red;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: #fcaf;
  border-radius: 5px;
}

.thanhcong {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem auto;
  height: 5rem;
  border: 1px solid cadetblue;
  align-items: center;
  color: rgb(159, 252, 255);
  font-size: 1.7rem;
  font-weight: 700;
  background-color: cadetblue;
  border-radius: 5px;
}

.error_con {
  padding: 0.3rem 0 1.5rem 1rem;
  font-size: 1.3rem;
  color: red;
}

.error_con {
  height: 3rem;
}
